
				<div id="heading"><%= image_tag "ruby.png", alt: "Logo", class: "ruby-small" %>
				<h1 class="code-title-small white">Code Challenge</h1>
				</div>
<div id="fullpage">
	<div class="section" stule="background: #D83337;" data-anchor="slide2">
		<div class="container">
			
			<h1 class="question">What does this expression evaluate to?</h1><br>
			<h6 class="font-code text-center code-question">"YO" + "LO"</h6>
			<div class="answer text-center">
				<ul>
					<a href="#" class="push_button"><li>"YOLO"</li></a>
					<a href="#" class="push_button"><li>"YO""LO"</li></a>
					<a href="#" class="push_button"><li>ERROR</li></a>
					<a href="#" class="push_button"><li>"YO" + "LO"</li></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
</div>